#firstsection {
  position: relative;
  background-image: url("../img/header_bkg.png");
  background-size: cover;
  background-repeat: none;
  padding-bottom: 150px;
  background-blend-mode: darken; }
