footer {

  .highlighted {
    a {
      @include highlightedLink;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    ul {
      margin-top: 1rem;
    }
  }
}
